<a href="https://colab.research.google.com/github/KARTIKPARATKAR/MACHINE-LEARNING-WORK/blob/main/onehotencoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset Used is:https://github.com/KARTIKPARATKAR/MACHINE-LEARNING-WORK/blob/main/cars.csv

One-Hot Encoding is a technique used to convert categorical data like (Red,Green ANd Yellow) into a numerical format that machine learning models can process.

In [72]:
import numpy as np

In [73]:
import pandas as pd

In [74]:
df=pd.read_csv('/content/cars.csv')

In [75]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [76]:
df['brand'].value_counts() #This will give the no of vehicles in a perticular brand

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [77]:
df['brand'].nunique() #There are 32 unique brands present

32

In [78]:
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [79]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

One-Hot-Encoding using Sklearn

In [80]:
from sklearn.model_selection import train_test_split

In [81]:
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=0)
#Here [:0:4] means 0 to 4 th column and [:,-1] means last column

In [82]:
x_train.head()

         brand  km_driven    fuel         owner
3042   Hyundai      60000     LPG   First Owner
1520      Tata     150000  Diesel   Third Owner
2611   Hyundai     110000  Diesel  Second Owner
3544  Mahindra      28000  Diesel  Second Owner
4138    Maruti      15000  Petrol   First Owner

In [83]:
from sklearn.preprocessing import OneHotEncoder

In [86]:
ohe=OneHotEncoder(drop='first')

In [88]:
x_train_new=ohe.fit_transform(x_train[['fuel','owner']]).toarray()

In [89]:
x_test_new=ohe.transform(x_test[['fuel','owner']]).toarray()

In [90]:
np.hstack((x_train[['brand','km_driven']].values,x_train_new)).shape

(6502, 9)